<!doctype html>
<html ng-app="myApp">

<head>
	<title>Comparación HotSale 2017</title>
	<meta charset="utf-8">
	<meta name="theme-color" content="#222222" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="La verdadera diferencia entre los precios.">
	<meta name="author" content="Domingo Dominguez">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.css">
	<style>
		body {
			padding-top: 50px;
			/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
		}
		
		.hero-spacer {
			margin-top: 20px;
		}
		
		.hero-feature {
			margin-bottom: 30px;
		}
		
		footer {
			margin: 50px 0;
		}
		
		thead > tr {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	</nav>
	<div>
		<div ng-controller="ProdsCtrl" class="container" ng-cloak>
      <p>Hacé click para ver los precios de cada local:</p>
      <div class="row">

        <div class="col-md-3 col-sm-5">
          <a class="btn btn-info btn-lg" href="#" ng-click="changeStore('./jsons/hs_gb_17.json', 'Garbarino')">
            Garbarino 2017
          </a>
        </div>
        <div class="col-md-3 col-sm-5">
          <a class="btn btn-info btn-lg" href="#" ng-click="changeStore('./jsons/hs_mm_17.json', 'Musimundo')">
            Musimundo 2017
          </a>
        </div>
				<div class="col-md-3 col-sm-5">
          <a class="btn btn-info btn-lg" href="#" ng-click="changeStore('./jsons/hs_fv_17.json', 'Frávega')">
            Fravega 2017
          </a>
        </div>
        <div class="col-md-3 col-sm-5">
          <a class="btn btn-info btn-lg" href="#" ng-click="changeStore('./jsons/hs_cpm_17.json', 'Compumundo')">
            Compumundo 2017
          </a>
        </div>

      </div>
      <h1 class="text-primary">Precios del HotSale {{local}} 2017</h1>
			<p>Productos en total: {{total_productos}}
				<p><label>Búsqueda: <input ng-model="searchText" ng-change="updateFilteredList()" capitalize></label></p>
				<table at-table at-list="filteredList" at-paginated class="table" at-config="config">
					<thead></thead>
					<tbody>
						<tr ng-class="{'danger': item.pr < 0, 'success': item.pr >= 25}">
							<td at-attribute="i" at-title="Producto" at-sortable at-initial-sorting="asc"><a href="{{item.l}}">{{item.i}}</a></td>
							<td at-attribute="or" at-title="Precio online anterior" at-sortable>${{item.or | number}}</td>
							<td at-attribute="cm" at-title="Precio online HotSale" at-sortable>${{item.cm | number:0}}</td>
							<td at-attribute="s" at-title="Precio lista HotSale" at-sortable>${{item.s | number}}</td>
							<td at-attribute="pv" at-title='"Oferta" HotSale' at-sortable>{{item.pv}}%</td>
							<td at-attribute="pr" at-title="Oferta real" at-sortable>{{item.pr}}%</td>
						</tr>
					</tbody>
				</table>
				<at-pagination at-list="filteredList" at-config="config"></at-pagination>
				<p><strong>No te olvides que todas estas empresas pueden cambiar sus precios sin previo aviso. Si encontrás diferencias de precio con mi lista, es algo normal.</strong></p>
				<footer id="footer">
				</footer>
		</div>
	</div>
	
	<script>var sourceUrl = "./garbarino_cm_2016.json";</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="./js/angular-table.min.js"></script>
	<script src="./js/app.js"></script>
	<script>
		$("#navbar").load("/templates/navbar.html");
		$("#footer").load("/templates/footer.html");
	</script>
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-84072213-2', 'auto');ga('send', 'pageview');</script>
</body>

</html>